<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MultiMom - トップページ</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="top_page.scss">
</head>
<body>
  <div class="container feature-wrapper">
    <h1 class="display-4 text-center">MultiMomは多胎児に関するお悩み共有アプリです</h1>
    <div class="row feature-container">
      <div class="col-md-12 petalpush-description">
        <p>MultiMomは多胎児であるが故の悩みや不安、また多胎児を持つ親御さんの育児に関する不安を投稿し同じ境遇の方々と共有するアプリです。</p>
        <p>昨今、子供の育児について悩みや問題を抱え小さな命が失われる悲しい事件が相次いでいます。</p> 
        <p>特に双子や三つ子など多胎児の親御さんは育児に困ってしまうということが多いと聞きます。</p>
        <p>不安に駆られ塞ぎ込んでしまうその前に自分の悩みを打ち明けてみませんか？</p>
        <p>同じ境遇の方々と共有することで心の負担を軽減することができるかもしれません。   </p>
        <p>どんなに小さなことでも構いません。多角的視点からあなたの悩みを解決する糸口を見つけましょう！</p>
      </div>
    </div>
    <h2 class="display-5 text-center">機能の紹介</h2>
      <div class="row feature-container">
        <div class="col-md-6">
          <div class="feature-title">お悩み投稿機能</div>
          <ul class="feature-list list-unstyled">
            <li>ご自分が抱えているお悩みを投稿できます。</li>
            <li>投稿したお悩みの情報はuserの方々に閲覧していただけます。</li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="feature-title">お悩み閲覧機能</div>
          <ul class="feature-list list-unstyled">
            <li>ユーザーが投稿したお悩みの情報を、一覧画面、詳細画面で閲覧できます。</li>
            <li>親のお悩みは親だけ、子供のお悩みは子供だけとそれぞれの立場のお悩みを閲覧していただけます。</li>
            </ul>
            </div>
            </div>
            <div class="row feature-container">
            <div class="col-md-6">
            <div class="feature-title">お気に入り機能</div>
            <ul class="feature-list list-unstyled">
            <li>ご自分が投稿したお悩みに対しコメントをもらえればそのコメントをお気に入りしていただけます。</li>
            </ul>
            </div>
            <div class="col-md-6">
            <div class="feature-title">検索機能</div>
            <ul class="feature-list list-unstyled">
            <li>お悩み一覧画面で、他にどんなお悩みがあるのか検索していただけます。</li>
            </ul>
            </div>
            </div>
            
              </div>
              <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            </body>
            </html>